.list {
  border: 2px dashed #872387;
  padding: 40px;
  .item {
    list-style: none;
    font-size: 32px;
    background: #f5f5dc;
    line-height: 56px;
    margin-bottom: 8px;
    padding: 0 16px;
    span {
      float: right;
      display: none;
      cursor: pointer;
    }
    
    &:hover {
      background: #b7d9f1;
      span {
        display: inline-block;
      }
    }
  }
}
.input {
  width: 400px;
  height: 80px;
  font-size: 80px;
}
.add-btn {
  margin-left: 16px;
  background: pink;
  width: 200px;
  height: 50px;
  font-size: 40px;
  font-weight: 600;
}