<section>
  <h2 class="section-title">TODO LIST</h2>
  <!-- todo area -->
  <div>
    <input [(ngModel)]="inputValue" class="input" type="text" />
    <button (click)="addTodo()" class="add-btn">add todo</button>
  </div>
  <!-- list -->
  <ul class="list">
    <li *ngFor="let item of todoList;index as id;" class="item">
      {{ item | uppercase }}
      <span (click)="delete(id)">X</span>
    </li>
    <div *ngIf="todoList.length === 0" style="text-align: center">没得咯~🤣</div>
  </ul>
</section>
