/* You can add global styles to this file, and also import other style files */
.section-title {
  background: linear-gradient(to right, #ff16b7, #ff3551);
  -webkit-background-clip: text;
  color: transparent;
}
body {
  
}